/* Size of screens here */
/* entre 0 et 1280 px*/
/*@media screen and (max-width: 1280px)*/
/*{*/
    /* Rédigez vos propriétés CSS ici */
/*}*/
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
/* @media screen and (max-width: 1280px) */

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
/* @media all and (min-width: 1024px) and (max-width: 1280px) */

/* Create & dl font */

@font-face {
    font-family: 'raleway';
    src: url('font/Raleway-VariableFont_wght.ttf') format('ttf');
}
@font-face {
    font-family: 'ralewayitalic';
    src: url('font/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
}
*
{
font-family: 'raleway', Arial, 'sans-serif';
}
/* Propriety for all the page*/
html 
{
    height: 100%;
    font-family: 'raleway', Arial, serif;
}
body 
{
    display: flex;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'raleway', 'sans-serif';
}
/* HEADER Proprieties */
/*header {position: relavtive; top: 0; left: 0; right: 0}*/
header
{
    height: 120px;
    width: 100%;
    background-color:rgb(206, 197, 197);
}

#links_header:link, #links_header:visited, #links_header:hover, #links_header:active
{
    color: black;
}

/* Liens S'inscrire */
.header_login a
{
    color: rgb(0,101,252);
    font-size: 1.0em;
    font-weight: bold;
    position:absolute;
    top: 51px;
    right: 5.34722%;
}
/* mouseover login */
.header_login a:hover
{
    font-size: 0.990em;
}
/* links header size */
/*#links_header
{
    font-size: 1.0em;
    text-align: center;
    margin: 0;
    padding: 0;
}
#links_header .toplinks
{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 10% 10% 10% 10%;
}*/

/* Liens Activités */
.header_activities a
{
   color: black;
   position: relative;
   /*position:relative;
   top: 51px;*/
   right: 215px
}
.header_activities a:hover
{
    color:  rgb(0,101,252);
    font-size: 0.990em;
}
/* 'Liens' Hébergement */
.header_lodging
{
    color: rgb(0,101,252);
    border-top: 2px solid rgb(0,101,252);
    padding: 49px;
    position: relative;
    top: -51px;
    /*position:relative;
    top: 0px;*/
    right: 222px;
}
.toplinks
{
    margin: 51px 0 0 0;
}
#links_header
{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative; top: 0;right: 0;
    /*padding: 89px 3.47222% 57px 3.47222%;*/
    width: 100%;
    height: 120px;
}

/* logo */
#logo_reservia 
{
    position:absolute;
    top: 22px;
    left: 3.75%;
}

/* put height in % for screen size?done? */

/* FOOTER Proprieties */

/* General Footers Rules  */
footer
{
    background-color: rgb(242,242,242);
    height: 700px; 
}

ul{
    list-style: none;
    padding: 0;
}
li{
    padding-bottom: 7px;
}
/* Titles of footer */
#links_footer h2
{
    color: black;
    font-size: 0.796875em;
    font-weight: bold;
}
/* Links of footers*/
#links_footer a
{
    color: black;
    font-size: 0.75em;
    
}
/* Footer Titles : A propos Nos hébergements Assistance */
/* marges between footer column */
#links_footer .footer_col
{
    /*display: inline-block;
    flex-wrap: wrap;*/
    margin: 49px 13.8888% 57px 3.4722%;
}

.footitle
{
    padding-bottom: 3px;
}

li a:hover
{
    color: none;
    text-decoration: underline
}

/*
.footer_apropos
{
    position:absolute;
    top: 49px;
    /*left: 51px; en 1440*/
 /*   left: 3.47222%;
}*/

/*Lines of A propos solo*/
/* Nos hébergements + links below */
/* .footer_hebergements
{
    position:absolute;
    top: 49px;
    /*left: 502px; en 1440*/
    /*left: 34.86111%;
} */
/* Assistance + links below */
/*.footer_assistance
{
    position:absolute;
    /* left: 958px; en 1440*/
  /*  left: 66.5277%;
}*/
/* Assistance Title */
/*.footer_assistance .title_assistance
{
    position:absolute;
    top: 49px;
}
/* line1 below Assistance */
/*.footer_assistance .assistance_line1
{
    position: absolute;
    top: 89px;
}
/* line2 below Assistance */
/*.footer_assistance .assistance_line2
{
    position: absolute;
    bottom:  98px;
}
*/
/* Links Styles - Always Link > Visited > Hover > Active */
/* remove underline background */
a:link
{
    color: none;
    text-decoration: none;
    background-color: none;
}

p
{
    font-size: 0.75em;
    font-weight: normal;
}
h1
{
    font-size: 0.984375em;
    font-weight: bold;
}
h2
{
    font-size: 0.796875em;
    font-weight: bold;
}
h3
{
    font-size: 0.75em;
    font-weight: bold;
}
/* Summary site text*/
.site_goal
{
 
    position:absolute;
    top: 131px;
    left: 3.81844%;
}
.site_wherever
{
    position:absolute;
    top: 163px;
    left: 3.81944%;

}
@media screen
{
    #links_footer
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(242,242,242);
    position: absolute; bottom: 0; left:0;right: 0;
    /*padding: 89px 3.47222% 57px 3.47222%;*/
    width: 100%;
    height: 218px;
}
}
@media (min-width:300px) and (max-width: 734px)
{
#links_footer
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(242,242,242);
    position: absolute; bottom: 0; left:0;right: 0;
    /*padding: 89px 3.47222% 57px 3.47222%;*/
    width: 100%;
    height: 436px;
}
@media all and (max-width: 300px)
{
#links_footer
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(242,242,242);
    position: absolute; bottom: 0; left:0;right: 0;
    /*padding: 89px 3.47222% 57px 3.47222%;*/
    width: 100%;
    height: 654px;
}
}
@media all and (max-device-width: 480px)
{
    #links_footer
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(242,242,242);
    position: absolute; bottom: 0; left:0;right: 0;
    /*padding: 89px 3.47222% 57px 3.47222%;*/
    width: 100%;
    height: 654px;
}
}