/* Size of screens here */
/* entre 0 et 1280 px*/
/*@media screen and (max-width: 1280px)*/
/*{*/
    /* Rédigez vos propriétés CSS ici */
/*}*/
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
/* @media screen and (max-width: 1280px) */

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
/* @media all and (min-width: 1024px) and (max-width: 1280px) */

/* Create & dl font */
@font-face {
    font-family: 'raleway';
    src: url('font/Raleway-VariableFont_wght.ttf') format('ttf');
}
@font-face {
    font-family: 'ralewayitalic';
    src: url('font/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
}
*
{
font-family: 'raleway', Arial, 'sans-serif';
}
/* Propriety for all the page*/
html 
{
    height: 100%;
    font-family: 'raleway', Arial, serif;
}

/* HEADER Proprieties */
/*header {position: relavtive; top: 0; left: 0; right: 0}*/
header
{
    min-height: 100%;
}
#links_header
{
    /*display: flex;
    justify-content: flex-end;*/
    font-size: 0.75em;
    /*position: relative;*/
    font color: black;
    top: 0%;
    right: 5.34722%; 
}
#links_header:link, #links_header:visited, #links_header:hover, #links_header:active
{
    color: black;
}


/* Liens S'inscrire */
.header_login a
{
    color: rgb(0,101,252);
    font color: rgb(0,101,252);
    font-weight: bold;
    position:absolute;
    top: 51px;
    right: 77px;
}
/* Liens Activités */
.header_activities a
{
   /* How to put Y in %age */
   color: black;
   font color: black;
   position:absolute;
   top: 51px;
   right: 215px;
}

/* 'Liens' Hébergement */
.header_lodging
{
    color: rgb(0,101,252);
    border-top: 2px solid rgb(0,101,252);
    padding: 51px;
    position:absolute;
    top: 0px;
    right: 323px;
}

/* logo */
#logo_reservia 
{
    position:absolute;
    top: 34px;
    left: 3.75%;
}

/* put height in % for screen size?done? */

/* FOOTER Proprieties */

/* General Footers Rules  */
footer

#links_footer
{
    display: flex;
    justify-content: start;
    background-color: rgb(242,242,242);
    position: absolute; bottom: 0; left:0;right: 0;
    height: 218px;
    weight: 100%;
}
/* Titles of footer */
#links_footer h2
{
    color: black;
    font-size: 0.796875em;
    font-weight: bold;
}
/* Links of footers*/
#links_footer a
{
    color: black;
    font-size: 0.75em;
    
}
/* Footer Titles : A propos Nos hébergements Assistance */
/* A propos + linkks below */
.footer_apropos
{
    position:absolute;
    top: 49px;
    /*left: 51px; en 1440*/
    left: 3.47222%;
}

/*Lines of A propos solo*/
/* Nos hébergements + links below */
.footer_hebergements
{
    position:absolute;
    top: 49px;
    /*left: 502px; en 1440*/
    left: 34.86111%;
}
/* Assistance + links below */
.footer_assistance
{
    position:absolute;
    /* left: 958px; en 1440*/
    left: 66.5277%;
}
/* Assistance Title */
.footer_assistance .title_assistance
{
    position:absolute;
    top: 49px;
}
/* line1 below Assistance */
.footer_assistance .assistance_line1
{
    position: absolute;
    top: 89px;
}
/* line2 below Assistance */
.footer_assistance .assistance_line2
{
    position: absolute;
    bottom:  98px;
}

/* Links Styles - Always Link > Visited > Hover > Active */
/* remove underline background */
a:link
{
    color: none;
    text-decoration: none;
    background-color: none;
}

body 
{
    min-height: 100%;
    margin: 0;
    padding: 0;
}
p
{
    font-size: 0.75em;
    font-weight: normal;
}
h1
{
    font-size: 0.984375em;
    font-weight: bold;
}
h2
{
    font-size: 0.796875em;
    font-weight: bold;
}
h3
{
    font-size: 0.75em;
    font-weight: bold;
}
/* Summary site text*/
.site_goal
{
 
    position:absolute;
    top: 131px;
    left: 3.81844%;
}
.site_wherever
{
    position:absolute;
    top: 163px;
    left: 3.81944%;

}
.footer
{

}