/* Create & dl font */
@font-face {
    font-family: 'raleway';
    src: url('font/Raleway-VariableFont_wght.ttf') format('ttf'),
         url('font/Raleway-Italic-VariableFont_wght.ttf') format('ttf'),
}

/* Propriety for all the page*/
html 
{
    height: 100%;
    font-family: 'raleway', Arial, serif;
}

body 
{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#links_footer 
{
    display: flex;
    justify-content: space-around;
    background-color: rgb(242,242,242);
}

body {position: relative;}
footer {position: absolute; bottom: 0; left: 0; right: 0}