
/* Create & dl font */
@font-face {
    font-family: 'raleway';
    src: url('font/Raleway-VariableFont_wght.ttf') format('ttf');
}
@font-face {
    font-family: 'ralewayitalic';
    src: url('font/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
}
/* Propriety for all the page*/
*
{
    box-sizing: border-box;
}

html 
{
    height: 100%;
    font-family: 'raleway', Arial, serif;
}
/*Body header footer*/
.body 
{
    font-family: 'raleway', Arial, 'sans-serif';
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/*header {position: relavtive; top: 0; left: 0; right: 0}*/
.header
{
    min-height: 100%;
    flex-basis: 100%;
}
#links_footer{
    max-width: 1440px;
    background-color: chartreuse;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer
{
    background-color: rgb(242, 242, 242);
    padding: 3.47222%;
}
a{
    text-decoration: none;
    color: black;
}
.header_login a{
    color:blue;
}
.li {
    list-style: none;
    display: inline;
    text-decoration: none;
}





/* Size of screens here */
/* entre 0 et 1280 px*/
/*@media screen and (max-width: 1280px)*/
/*{*/
    /* Rédigez vos propriétés CSS ici */
/*}*/
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
/* @media screen and (max-width: 1280px) */

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
/* @media all and (min-width: 1024px) and (max-width: 1280px) */
